h1{
    margin: auto;
    text-align: center;
    border-bottom: solid 2px grey;
    width: 75%;
    margin-bottom: 30px;
}
input[type="number"]{width: 100px;}
div.line{
    margin: 10px 50px;
}
input[type="button"]{
    margin-left: 145px;
    padding: 6px;
    width: 110px;
}
table{
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
td{
    height: 12px;
    width: 12px;
    border: solid 1px green;
}
span.error{color: red; font-weight: bold;}
div#wynik{margin-top: 20px;}
